/*Start of Footer*/
.main-footer {
    width: auto;
    position: relative;
    background-color: #373434;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 999;

    .copy-right {
        text-align: center;

        p {
            color: #fff;
        }
    }
}

/*End of Footer*/